/*  . is for classes */
.primary-heading {
  color: cornflowerblue;
}

/* # is for IDs */
#welcome {
  background-color: antiquewhite;
}

/* Multiple selectors */
#welcome,
#about {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

/* Nested Selectors */
#welcome p {
  font-size: 20px;
}
